<h1>Випробування API: User</h1>
<table>
    <thead>
        <tr>
            <th>Метод</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button id="api-user-get-btn">GET user</button></td>
            <td id="api-user-get-result"></td>
        </tr>
        <tr>
            <td><button id="api-d-post-btn">POST user</button></td>
            <td id="api-user-post-result"></td>
        </tr>

        <tr>
            <td><button id="api-discount-get-btn">GET discount</button></td>
            <td id="api-discount-get-result"></td>
        </tr>
    </tbody>
</table>

<p id="token"></p>
<p id="token-header"></p>
<p id="token-payload"></p>


<!-- <h1>Випробування API: User Authentication</h1>
<table>
    <thead>
        <tr>
            <th style="width: 200px;">Тест</th>
            <th>Дія</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Відсутній заголовок Authorization</td>
            <td><button onclick="runTest({}, 'res-no-header')">GET /user</button></td>
            <td>
                <pre id="res-no-header"></pre>
            </td>
        </tr>

        <tr>
            <td>Неправильна схема (Bearer замість Basic)</td>
            <td><button onclick="runTest({'Authorization': 'Bearer dGVzdDpwYXNz'}, 'res-wrong-scheme')">GET
                    /user</button></td>
            <td>
                <pre id="res-wrong-scheme"></pre>
            </td>
        </tr>

        <tr>
            <td>Закороткі дані (credentials < 7)</td>
            <td><button onclick="runTest({'Authorization': 'Basic 123456'}, 'res-short')">GET /user</button></td>
            <td>
                <pre id="res-short"></pre>
            </td>
        </tr>

        <tr>
            <td>Неправильні символи Base64 (%, $)</td>
            <td><button onclick="runTest({'Authorization': 'Basic dGVzd$pwYXNz'}, 'res-bad-chars')">GET /user</button>
            </td>
            <td>
                <pre id="res-bad-chars"></pre>
            </td>
        </tr>

        <tr>
            <td>Помилка Padding (обрізаний Base64)</td>
            <td><button onclick="runTest({'Authorization': 'Basic YWRtaW46MTI'}, 'res-padding')">GET /user</button></td>
            <td>
                <pre id="res-padding"></pre>
            </td>
        </tr>

        <tr>
            <td>Відсутній ':' після декодування</td>
            <td><button onclick="runTest({'Authorization': 'Basic YWRtaW4xMjM='}, 'res-no-colon')">GET /user</button>
            </td>
            <td>
                <pre id="res-no-colon"></pre>
            </td>
        </tr>

        <tr>
            <td>Валідні дані</td>
            <td><button onclick="runTest({'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ=='}, 'res-success')">GET /user</button>
            </td>
            <td>
                <pre id="res-success"></pre>
            </td>
        </tr>
    </tbody>
</table>

<script>
    
    async function runTest(headers, outputId) {
        const output = document.getElementById(outputId);
        output.className = "";

        try {
            const response = await fetch('/user', {
                method: 'GET',
                headers: headers
            });

            const data = await response.json();
            output.textContent = JSON.stringify(data, null, 2);

            if (data.status && data.status.isOk) {
                output.className = "success";
            } else {
                output.className = "error";
            }

        } catch (error) {
            output.textContent = "Помилка запиту: " + error;
            output.className = "error";
        }
    }
</script> -->